@font-face {
  font-family: Simplifica;
  src: url('simplifica.ttf');
}

body, html {
  background-color: #0094DF;
  height: 100%;
  color: #FFF;
}

#header {
  text-align: center;
  font-family: Simplifica;
}

#header h2 {
  font-size: 100px;
  margin-bottom: -10px;
}

#header p {
  font-size: 25px;
}

.profile-container {
  margin: 10px auto auto auto;
}
.profile {
  display: inline-block;
  height: 75px;
  border-radius: 50%;
  background-color: #007EBF;
}

#content .row {
  margin: auto;
}

#content .row div {
  background-color: #FFF;
  color: #000;
  padding: 10px 10px 20px 10px;
  text-align: center;
  margin: 0 4% 4% 4%;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
  transition: all .3s;
  -webkit-transition: all .3s;
}

#content .row div:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0), 0 9px 30px 0 rgba(0, 0, 0, 0);
}
