.navbar {
  background-color: #495156;
}

.logo-container .logo {
    overflow: hidden;
    width: 25px;
    float: left;
}

.logo-container .brand {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 50px;
    float: left;
    margin-left: 10px;
    width: 70px;
    height: 50px;
    text-align: left;
    font-weight: normal;
}
.logo-container .brand-material {
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img {
    width: 100%;
}

.logo-container .logo, .logo-container .brand {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.wrapper {
  margin-top: 170px
}

.wrapper .main .section h1 {
  text-align: center;
}

.nav li {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin-left: 2px;
  margin-right: 2px;
}

.nav li:hover:not(.active):not(.twitter):not(.github) {
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 3px;
}

.twitter:hover {
  color: #00CCFF;
}

.github:hover {
  color: #690083;
}


.project {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
              0 4px 25px 0px rgba(0, 0, 0, 0.12),
              0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  height: 250px;
  color: #333;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

#mmodal a i {
  color: #333;
  font-size: 15pt;
}

.project img {
  margin-top: 5px;
  height: 50px;
}

#portfolio .container .row {
  padding-top: 100px;
}


@media (max-width : 767px) {
  .logo-container {
    padding-left: 10px;
    padding-top: 5px;
  }

  .navbar li {
    text-align: center;
  }

  .main .section {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .project {
    margin-top: 30px
  }
  #portfolio .container .row {
    padding-top: 0px;
  }
}
